@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .head-inv {
    @apply w-full h-full
    flex flex-col;
  }
  .main-inv {
    @apply flex
    mx-1
    overflow-hidden
    mb-1
    h-full;
  }
  .invoice-div {
    @apply w-full
    flex
    gap-4;
  }
  .gen-invoice {
    @apply flex
    flex-col
    
    shadow-sm
    shadow-myshadow-200
    border border-myshadow-200
    overflow-y-auto;
  }
  .inv-actions {
    @apply flex
    justify-between
    items-center
    mx-1
    mt-1;
  }
  .pdf-div {
    @apply flex
    flex-1
    flex-col
    items-center
    border border-slate-400;
  }
  .wait {
    @apply w-full
    h-full
    flex
    justify-center
    items-center;
  }
  .enter-details-div {
    @apply flex
    justify-between
    items-center
    mx-1;
  }
  .newCalc {
    @apply flex
    justify-evenly
    items-center
    h-[40px]
    gap-2;
  }
  .act-button {
    @apply border border-black
    flex
    text-[14px]
    justify-center
    items-center
    shadow-sm
    shadow-myshadow-200
    h-[30px]
    hover:border-myshadow-200
    hover:shadow-md
    hover:shadow-myshadow-200;
  }
  .act-button button {
    @apply justify-center
    items-center
    flex
    min-w-[50px]
    h-full
    disabled:cursor-not-allowed
    disabled:opacity-30;
  }
  .act-button button img {
    @apply w-[15px] h-[15px];
  }
  .act-button button p {
    @apply p-1;
  }
  .act-button button:hover {
    @apply font-medium;
  }
  .ping-group {
    @apply absolute
    w-2 h-2
    top-[-2px]
    -right-1;
  }
  .ping,
  .ping-item {
    @apply w-full h-full
    rounded-full
    bg-mygreen
    inline-flex
    absolute;
  }
  .ping {
    @apply w-2 h-2 rounded-full
    bg-mygreen  
    animate-ping
    opacity-75;
  }
  .dynamic {
    @apply flex
    flex-col
    relative
    mx-1;
  }
  .custom-select {
    border-radius: 0;
    border: 1px solid black;
    width: 200px;
    height: 30px;
    @apply focus:outline;
  }
  .custom-select option {
    border-radius: 0;
  }
  .inv-item {
    @apply flex
    items-end
    w-full
    gap-4
    mb-4
    relative;
  }
  .inv-input-div {
    @apply flex
    flex-col
    space-y-1;
  }
  .inv-input-div label {
    @apply text-[12px]
    font-mono
    font-semibold
    mx-2;
  }
  .inv-item:last-child + .add-div {
    @apply absolute top-full right-0;
  }

  .remove-div {
    @apply flex
    border border-black
    shadow-sm
    shadow-myshadow-200
    absolute
    top-full
    right-0;
  }
  .remove-div button {
    @apply font-medium
    flex
    justify-center
    items-center
    border border-black;
  }
  .remove-div img {
    @apply w-[20px] h-[20px]
    p-1;
  }

  /* ***************** */
  .dropdown-container {
    position: relative;
  }

  .dropdown-input {
    width: 100%;
    @apply focus:outline-none border
     border-slate-400 
     px-4 py-1
     text-[14px];
  }

  .dropdown-items {
    /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto; /* Add scroll if the list is long */
    z-index: 1000;
  }

  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .all-invoice-div {
    @apply overflow-x-auto
    flex
    flex-col
    w-full
    h-full;
  }
  .inv-list-div {
    @apply grid grid-flow-row
    grid-cols-1
    lg:grid-cols-2
    gap-4
    mx-1
    mt-2;
  }
  .inv-item-div {
    @apply border border-slate-400
    relative;
  }
  .inv-group {
    @apply flex
    items-center
    justify-between
    mx-1;
  }
  .paid-unpaid {
    @apply mt-1
    rounded-md
    w-[70px]
    flex
    justify-center
    items-center;
  }
  .paid-unpaid p {
    @apply px-1
    text-[14px]
    font-mono
    font-bold;
  }
  .unpaid-div {
    @apply bg-slate-500
    text-slate-300;
  }
  .paid-div {
    @apply bg-green-500
    text-white;
  }
  .inv-inf {
    @apply text-[16px]
    font-medium;
  }
  .labl {
    @apply text-[12px]
    font-normal
    text-slate-500;
  }
  .dnt {
    @apply text-[13px]
    text-slate-500;
  }
  .inv-l-actions {
    @apply flex
    flex-col
    justify-between
    items-center
    top-full
    right-0
    w-1/2
    absolute
    border border-black
    bg-white;
    z-index: 999;
  }
  .inv-l-actions button {
    @apply flex
    justify-start
    items-center
    border border-b-gray-400
    w-full
    gap-2
    h-[30px]
    hover:bg-gray-300
    hover:font-semibold
    transition-colors
    duration-500
    disabled:opacity-30
    disabled:cursor-not-allowed;
  }
  .inv-l-actions button p {
    @apply pl-2
    text-[14];
  }
}
