@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main-permit {
    @apply w-full
    h-full
    flex;
  }
  .body-p {
    @apply flex
    mx-2
    w-full
    overflow-hidden;
  }
  .users-d {
    @apply flex
    flex-col
    w-1/2
    h-full;
  }
  .seluser {
    @apply border-dashed border-2 border-mygreen;
  }
  .user-lab {
    @apply flex
    justify-start
    items-center;
  }
  .user-lab p {
    @apply text-slate-600
    font-bold
    font-mono
    p-1;
  }
  .usr-list {
    @apply flex
    flex-col
    h-full
    w-full
    overflow-y-auto;
  }
  .permissions-div {
    @apply flex
    w-1/2
    h-full
    flex-col;
  }
  .tick-permission-div {
    @apply grid
    grid-cols-2;
  }
  .give-access {
    @apply flex
    justify-between
    items-center
    mb-2;
  }
  .give-access p {
    @apply ml-2
    font-mono;
  }
  .nosel {
    @apply text-slate-500;
  }
  .sel {
    @apply text-mygreen;
  }
  .user-role-div {
    @apply flex w-full
    flex-col 
    justify-center
    items-start;
  }
  .role-form {
    @apply flex
    w-full
    flex-col
    justify-between
    items-center
    mt-2
    gap-3;
  }
  .radio-div {
    @apply flex
    w-full
    justify-between
    items-center;
  }
  .custom-radio input[type="radio"] {
    display: none; /* Hide the radio button */
  }
  .custom-radio {
    @apply flex items-center 
    cursor-pointer
    font-mono
    text-black;
  }
  .radio-checkmark {
    @apply w-[20px] h-[20px]
    border-2 border-[#888]
    rounded-full
    mr-[10px]
    relative;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .custom-radio input[type="radio"]:checked + .radio-checkmark {
    @apply bg-[#4CAF50]
    border-[#4CAF50];
  }
  .custom-radio input[type="radio"]:checked + .radio-checkmark::after {
    content: "";
    @apply w-[12px] h-[12px]
    bg-white
    rounded-full
    absolute
    top-[50%]
    left-[50%]
    transform
    -translate-x-1/2
    -translate-y-1/2;
  }
  .custom-radio:hover .radio-checkmark {
    @apply border-[#4CAF50];
  }
}
